body {
    font-family: Arial;
    line-height: 1.2;
  }
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  #my-form label {
    display: block;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  